data/
*.pyc
trash.txt
walkloud_fv.pdf
walkloud_hyperons.pdf
walkloud_su2_hbXPT.pdf
notebooks/scratch.ipynb
.gitignore
notes.pdf
aux/
*.png
.vscode/
notebooks/.*
bs_lsts/
corr_fits/*
.ipynb_checkpoints/prior_gA-checkpoint.csv
.ipynb_checkpoints/prior_nucl-checkpoint.csv
README.sync-conflict-20231004-191306-DGHP53V.md
#.DS_Store#
.sync-conflict-20231008-211239-Y5TSKPB.gitignore
grant_notes.synctex.gz
grant_notes.pdf
.ipynb_checkpoints/ga_fitting_notebook-checkpoint.ipynb
notebooks/mpi.sync-conflict-20231004-191701-Y5TSKPB.ipynb
xpt/fit_analysis.sync-conflict-20231008-211436-Y5TSKPB.py
xpt/mpi_fit.sync-conflict-20231009-184244-Y5TSKPB.py
xpt/priors.sync-conflict-20231008-211138-Y5TSKPB.py
xpt/models.sync-conflict-20231004-191907-Y5TSKPB.yaml
fv_corrections/sunrise_fv_2.jpeg
fv_corrections/sunrise_fv.jpeg
fv_corrections/nnlo_mn_graphs.pdf
fv_corrections/sunset_n2lofv.pdf
sigma_term_pres_nolan.pdf
